@import "../shared.scss";

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie {
  width: 300px;
  margin: 1rem;
  background-color: $secondary-color;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
  border-radius: 3px;

  img {
    width: 100%;
    transition: all 0.6s;
    min-height: 450px;

    &:hover {
      transform: scale(1.04);
    }
  }

  .movie-info {
    color: #eee;
    padding: 10px;
    letter-spacing: 0.5px;
    text-align: center;

    .vote-average {
      background: none;
      padding: 0px 2px;
    }

    h3 {
      margin-top: 0;
    }

    span {
      background-color: $primary-color;
      padding: 0.25rem 0.5rem;
      border-radius: 3px;
      font-weight: bold;
      margin-right: 10px;
    }
    span {
      &.green {
        color: lightgreen;
      }

      &.orange {
        color: orange;
      }

      &.red {
        color: red;
      }
    }
    .rating {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 5px;
      right: 5px;
      background: #0000004a;
      border-radius: 3px;
    }
  }

  .overview-trailer-buttons-wrapper {
    margin-top: 15px;

    span {
      &:hover {
        cursor: pointer;
      }
    }
  }

  .overview {
    background-color: #fff;
    background-color: #051d32fc;
    color: white;
    padding: 2rem;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    max-height: 100%;
    transform: translateY(101%);
    overflow-y: auto;
    transition: transform 0.3s ease-in;

    &.show {
      transform: translateY(0);
    }

    .close-icon {
        position: absolute;
        top: 5px;
        right: 5px;
        cursor: pointer;
        max-height: 20px;
        min-height: 20px;
        width: 20px;
        background: white;
        border-radius: 50%;
    }
  }
}

.pagination-wrapper {
  margin-top: 40px;

  ngb-pagination ::ng-deep ul > li:not(.active) > a {
    background-color: #032541;
    color: white;
    border-color: #032541;
  }

  ngb-pagination ::ng-deep ul > li.active > a {
    background-color: #144166;
    border-color: #144166;
    border-radius: 5px;
  }
}


.genres{
  text-align: center;
  margin-top: 30px;

  li{
    cursor: pointer;
    display: inline-block;
    padding: 8px 16px 10px 16px;
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 10px;
    transition: all 0.3s ease-in-out;
    border-radius: 4px;
    background: #042038;
    margin-right: 5px;

    &.active{
      background: cornflowerblue;
    }
  }
}