<div id="myModal" class="modal" *ngIf="showModal" (click)="showModal=false">
  <div class="modal-content">
    <iframe [src]="videoUrl" width="1024" height="578" id="trailer" title="YouTube video player" frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen></iframe>
  </div>
</div>

<app-search (valueChange)='onValueChange($event)'></app-search>

<main id="main" *ngIf="movies">
  <div class="movie" *ngFor="let movie of movies.results">
    <a routerLink="/movie-details/{{movie.id}}">
      <img src="https://image.tmdb.org/t/p/w1280{{movie.poster_path}}" alt="{{movie.original_title}}" *ngIf="movie.poster_path">
      
    </a>
    <div class="movie-info" data-movieid="567189">
      <h4>{{movie.original_title}}</h4>
      <div class="rating">
        <svg style="width:26px;height:26px;" viewBox="0 0 24 24">
          <path fill="yellow"
            d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z" />
        </svg>
        <span class="vote-average {{getClassNameByRate(movie.vote_average)}}">{{movie.vote_average}}</span>
      </div>
      <div class="overview-trailer-buttons-wrapper">
        <span class="show-overview" #showOverview (click)="showOverview.classList.toggle('active')">Overview</span>
        <span (click)="showTrailer(movie.id)">Trailer</span>
      </div>
    </div>
    <div class="overview" #overview 
      [class.show]="showOverview.classList.contains('active')">
      <h3>Overview</h3>
      <img src="./assets/images/close-icon.png" class="close-icon" (click)="showOverview.classList.remove('active')">
      {{movie.overview}}
    </div>
  </div>
</main>

<app-trendings></app-trendings>


<div *ngIf="movies" class="pagination-wrapper">
  <ngb-pagination  (pageChange)="getMovies($event)" *ngIf="movies.total_pages > 1" class="d-flex justify-content-center" [collectionSize]="movies.total_pages" [(page)]="currentPage" [maxSize]="10" [rotate]="true" [ellipses]="false" [boundaryLinks]="true"></ngb-pagination>
</div>