.scroller {
  height: 285px;
  overflow-y: hidden;
  overflow-x: scroll;
  display: flex;
  padding: 10px;
  width: 85%;
  margin: 25px ​0;

    @media(max-width:768px){
      width: 100%;
      padding: 0;
    }

  .rating {
    position: absolute;
    bottom: 5px;
    left: 3px;
    color: white;
    align-items: center;
    display: flex;
  }

  .title {
    font-weight: bold;
    padding-top: 5px;
  }

  /* width */
  &::-webkit-scrollbar {
    width: 2px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: rgb(19 42 61);
    border-radius: 10px;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #0b3558;
    border-radius: 10px;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #0b35589d;
  }

  .scroll-item {
    margin-right: 10px;
    border-radius: 8px;
    background: #042038;
    color: white;
    max-width: 140px;
    position: relative;
    min-width: 140px;
    height: auto;

    p {
      font-size: 14px;
      margin: 0;
      text-align: center;
    }
    img {
      min-width: 138px;
      width: 140px;
      height: 175px;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
    }
  }
}

.movies{
  .adult{
    p{
      filter: blur(0px)
    }
  }
}