<div id="myModal" class="modal" *ngIf="showModal" (click)="showModal=false">
  <div class="modal-content">
    <iframe [src]="videoUrl" width="1024" height="578" id="trailer" title="YouTube video player" frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen></iframe>
  </div>
</div>


<app-search (valueChange)='onValueChange($event)' [backgroundImage]="backgroundImage"></app-search>


<div class="filter">
  <p style="color: white;">Filters</p>
  <ul ngbNav #nav="ngbNav" class="nav-tabs">
    <li ngbNavItem>
      <a ngbNavLink>Movies</a>
      <ng-template ngbNavContent>
        <div class="sort-wrapper">
        <p class="title"> Sort Results By</p>
        <select class="sort" placeholder="String" (change)="onSortingChange($event.target.value)">
          <option value="popularity.asc">popularity.asc</option>
          <option value="popularity.desc" selected>popularity.desc</option>
          <option value="release_date.asc">release_date.asc</option>
          <option value="release_date.desc">release_date.desc</option>
          <option value="revenue.asc">revenue.asc</option>
          <option value="revenue.desc">revenue.desc</option>
          <option value="primary_release_date.asc">primary_release_date.asc</option>
          <option value="primary_release_date.desc">primary_release_date.desc</option>
          <option value="original_title.asc">original_title.asc</option>
          <option value="original_title.desc">original_title.desc</option>
          <option value="vote_average.asc">vote_average.asc</option>
          <option value="vote_average.desc">vote_average.desc</option>
          <option value="vote_count.asc">vote_count.asc</option>
          <option value="vote_count.desc">vote_count.desc</option>
        </select>
      </div>
        <ul class="genres" style="color: white">
          <p>Genres</p>
          <li *ngFor="let filter of movieFilters" (click)="discover('movie', '1', 'popularity.desc',filter.id)" #genre [class.show]="genre.classList.contains('active')" (click)="genre.classList.toggle('active')">
            {{filter.name}}</li>
        </ul>

        <input #searchBoxMovie (input)="getMovieKeywords(searchBoxMovie.value)" class="search" placeholder="Filter by keywords.." />

        <ul class="keywords" *ngIf="movieKeywords" style="color: royalblue">
          <li *ngFor="let keyword of movieKeywords.results" (click)="discover('movie',currentPageDiscover,sortBy,'',keyword.id)">
            {{keyword.name}}</li>
        </ul>

      </ng-template>
    </li>
    <li ngbNavItem>
      <a ngbNavLink>TV</a>
      <ng-template ngbNavContent>
        <div class="sort-wrapper">
        <p class="title"> Sort Results By</p>
        <select class="sort" placeholder="String" (change)="onSortingChange($event.target.value)">
          <option value="popularity.asc">popularity.asc</option>
          <option value="popularity.desc" selected>popularity.desc</option>
          <option value="release_date.asc">release_date.asc</option>
          <option value="release_date.desc">release_date.desc</option>
          <option value="revenue.asc">revenue.asc</option>
          <option value="revenue.desc">revenue.desc</option>
          <option value="primary_release_date.asc">primary_release_date.asc</option>
          <option value="primary_release_date.desc">primary_release_date.desc</option>
          <option value="original_title.asc">original_title.asc</option>
          <option value="original_title.desc">original_title.desc</option>
          <option value="vote_average.asc">vote_average.asc</option>
          <option value="vote_average.desc">vote_average.desc</option>
          <option value="vote_count.asc">vote_count.asc</option>
          <option value="vote_count.desc">vote_count.desc</option>
        </select>
        </div>
        <ul class="genres" style="color: white">
          <p>Genres</p>
          <li *ngFor="let filter of tvFilters" (click)="discover('tv', '1', 'popularity.desc',filter.id)">
            {{filter.name}}</li>
        </ul>

        <input #searchBoxTV (input)="getTVKeywords(searchBoxTV.value)" class="search" placeholder="Filter by keywords.." />

        <ul class="keywords" *ngIf="tvKeywords" style="color: red">
          <li *ngFor="let keyword of tvKeywords.results" (click)="discover('tv',currentPageDiscover,sortBy,'',keyword.id)">
            {{keyword.name}}</li>
        </ul>

      </ng-template>
    </li>
   
  </ul>
  <div [ngbNavOutlet]="nav"></div>


</div>

<main id="main" *ngIf="multiSearchData">

  <ng-container *ngFor="let movie of multiSearchData.results">
    <a routerLink="/details/{{movie.media_type == null ? 'movie':movie.media_type}}/{{movie.id}}" class="movie" on-mouseover="onMouseOver(movie)">
        <img src="https://image.tmdb.org/t/p/w1280{{movie.poster_path}}" alt="{{movie.original_title}}"
          *ngIf="movie.poster_path">
        <img *ngIf="!movie.poster_path"
          src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgdmVyc2lvbj0iMS4xIiB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCI+PHBhdGggZD0iTTIxIDE3LjJMNi44IDNIMTlDMjAuMSAzIDIxIDMuOSAyMSA1VjE3LjJNMjAuNyAyMkwxOS43IDIxSDVDMy45IDIxIDMgMjAuMSAzIDE5VjQuM0wyIDMuM0wzLjMgMkwyMiAyMC43TDIwLjcgMjJNMTYuOCAxOEwxMi45IDE0LjFMMTEgMTYuNUw4LjUgMTMuNUw1IDE4SDE2LjhaIiAvPjwvc3ZnPg==">
          
        
      <div class="movie-info">
        
        <div class="overview-trailer-buttons-wrapper">
        <h4>{{movie.title == null ? movie.original_name: movie.title}} ({{movie.release_date|date:"yyyy"}})</h4> 
          <p class="show-overview" #showOverview (mouseenter)="showOverview.classList.toggle('active')">Overview</p>
        </div>

        <div class="overview" #overview [class.show]="showOverview.classList.contains('active')" (mouseleave)="showOverview.classList.remove('active')">
          <p>{{movie.overview}}</p>
        </div>

        <div class="rating">
          <svg style="width:26px;height:26px;" viewBox="0 0 24 24">
            <path fill="yellow"
              d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z" />
          </svg>
          <span class="vote-average">{{movie.vote_average}}</span> 
        </div>

      </div>

    </a>
  </ng-container>
</main>

<!--DISCOVER PAGINATION-->
<ng-container *ngIf="multiSearchData">
  <div *ngIf="!searchQuery" class="pagination-wrapper">
    <ngb-pagination (pageChange)="discover('movie',$event)" *ngIf="multiSearchData.total_pages > 1"
      class="d-flex justify-content-center" [collectionSize]="multiSearchData.total_pages"
      [(page)]="currentPageDiscover" [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true">
    </ngb-pagination>
  </div>
</ng-container>

<!--SEARCH PAGINATION-->
<ng-container *ngIf="multiSearchData">
  <div *ngIf="searchQuery" class="pagination-wrapper">
    <ngb-pagination (pageChange)="multiSearch(searchQuery,$event)" *ngIf="multiSearchData.total_pages > 1"
      class="d-flex justify-content-center" [collectionSize]="multiSearchData.total_pages" [(page)]="currentPageSearch"
      [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true"></ngb-pagination>
  </div>
</ng-container>




<app-trendings></app-trendings>