@import "/src/app/shared.scss";

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 40px;
}

.movie {
  width: 300px;
  margin: 1rem;
  background-color: $secondary-color;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
  border-radius: 3px;

  img {
    width: 100%;
    transition: all 0.6s;
    min-height: 450px;

    &:hover {
      transform: scale(1.04);
    }
  }

  .movie-info {
    color: #eee;
    padding: 10px;
    letter-spacing: 0.5px;
    text-align: center;

    .vote-average {
      background: none;
      padding: 0px 2px;
    }

    h3 {
      margin-top: 0;
    }

    span {
      background-color: $primary-color;
      padding: 0.25rem 0.5rem;
      border-radius: 3px;
      font-weight: bold;
      margin-right: 10px;
    }
    span {
      &.green {
        color: lightgreen;
      }

      &.orange {
        color: orange;
      }

      &.red {
        color: red;
      }
    }
    .rating {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 5px;
      right: 5px;
      background: #082845bd;
      border-radius: 3px;

      span{
        background: #08284521;
      }
    }
  }

  .overview-trailer-buttons-wrapper {
    margin-top: 15px;

    span {
      &:hover {
        cursor: pointer;
      }
    }
  }

  .overview {
    background-color: #fff;
    background-color: #051d32fc;
    color: white;
    padding: 2rem;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    max-height: 100%;
    transform: translateY(101%);
    overflow-y: auto;
    transition: transform 0.3s ease-in;

    &.show {
      transform: translateY(0);
    }

    .close-icon {
      position: absolute;
      top: 5px;
      right: 5px;
      cursor: pointer;
      max-height: 20px;
      min-height: 20px;
      width: 20px;
      background: white;
      border-radius: 50%;
    }
  }
}

.pagination-wrapper {
  margin-top: 40px;

  ngb-pagination ::ng-deep ul > li:not(.active) > a {
    background-color: #032541;
    color: white;
    border-color: #032541;
  }

  ngb-pagination ::ng-deep ul > li.active > a {
    background-color: #144166;
    border-color: #144166;
    border-radius: 5px;
  }
}

.filter {
  background: #0418296e;
  width: 250px;
  text-align: center;
  border-radius: 5px;
  padding: 10px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: fixed;
  z-index: 9;
  transition: all 1s;
  height: auto;
  max-height: 45px;
  overflow: hidden;
  opacity: 0.9;
  top: 300px;
  cursor: pointer;

  &:hover {
    opacity: 1;
    max-height: 100%;
    width: 250px;
    overflow-y: scroll;
    background: #041829;
    top: 20px;
  }

  /* width */
  &::-webkit-scrollbar {
    width: 5px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: rgb(19 42 61);
    border-radius: 10px;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #0b3558;
    border-radius: 10px;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #0b35589d;
  }

  

  .genres,
  .keywords {
    text-align: center;
    margin-top: 30px;
    padding: 0;

    li {
      cursor: pointer;
      display: inline-block;
      padding: 8px 16px 10px 16px;
      font-size: 14px;
      font-weight: 600;
      line-height: 1;
      text-transform: uppercase;
      color: #fff;
      margin-bottom: 10px;
      transition: all 0.3s ease-in-out;
      border-radius: 4px;
      background: #042038;
      margin-right: 5px;

      &.active {
        background: #216289;
      }
    }
  }

  .nav-tabs {
    align-items: center;
    justify-content: center;
    border-color: #0b2943;
    padding-bottom: 10px;

    .nav-link {
      border-radius: 30px;
      padding: 1px 15px;
      transition: all 0.6s;
      color: white;
      border: none;

      &:hover {
        background: #0b355a;
        color: white;
      }
      &.active {
        background: #0d3354;
        color: white;
      }
    }
  }
  .sort-wrapper {
    margin-top: 20px;
    color: white;
    .sort {
      background: #042038;
      color: white;
      border-color: #042038;
      padding: 2px 5px 5px;
      border-radius: 5px;
      text-align-last: center;
    }
  }
}

.search {
  background-color: transparent;
  border: 2px solid #082845;
  border-radius: 50px;
  font-family: inherit;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  color: #fff;

  &:focus {
    outline: none;
  }
}

header {
  background: transparent;
  padding: 0;
  margin-top: 20px;

  input {
    width: 100%;
    border-color: #1c3d57;
    background: #03304d;
  }
}
