<div id="myModal" class="modal" *ngIf="showModal" (click)="showModal=false">
  <div class="modal-content">
    <iframe [src]="videoUrl" width="1024" height="578" id="trailer" title="YouTube video player" frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen></iframe>
  </div>
</div>

<app-search (valueChange)='onValueChange($event)'></app-search>

<input #searchBox (input)="getKeywords(searchBox.value)" class="search" placeholder="Search keywords" />

<ul class="keywords" *ngIf="keywords" style="color: white">
  <li *ngFor="let keyword of keywords.results" (click)="discover('movie',currentPage,'',keyword.id)">
    {{keyword.name}}({{keyword.id}})</li>
</ul>


<div class="filter">
  <select class="f-1" placeholder="String" (change)="onSortingChange($event.target.value)">
    <option value="popularity.asc">popularity.asc</option>
    <option value="popularity.desc" selected>popularity.desc</option>
    <option value="release_date.asc">release_date.asc</option>
    <option value="release_date.desc">release_date.desc</option>
    <option value="revenue.asc">revenue.asc</option>
    <option value="revenue.desc">revenue.desc</option>
    <option value="primary_release_date.asc">primary_release_date.asc</option>
    <option value="primary_release_date.desc">primary_release_date.desc</option>
    <option value="original_title.asc">original_title.asc</option>
    <option value="original_title.desc">original_title.desc</option>
    <option value="vote_average.asc">vote_average.asc</option>
    <option value="vote_average.desc">vote_average.desc</option>
    <option value="vote_count.asc">vote_count.asc</option>
    <option value="vote_count.desc">vote_count.desc</option>
  </select>
  <ul class="genres" style="color: white">

    <li data-value="28"><a (click)="discover('movie', '1', 'popularity.desc','28')">Action</a></li>

    <li data-value="12"><a (click)="discover('movie', '1', '12')">Adventure</a></li>

    <li data-value="16"><a (click)="discover('movie', '1', '16')">Animation</a></li>

    <li data-value="35"><a (click)="discover('movie', '1', '35')">Comedy</a></li>

    <li data-value="80"><a (click)="discover('movie', '1', '80')">Crime</a></li>

    <li data-value="99"><a (click)="discover('movie', '1','popularity.desc', '99')">Documentary</a></li>

    <li data-value="18"><a (click)="discover('movie', '1', '18')">Drama</a></li>

    <li data-value="10751"><a (click)="discover('movie', '1', '10751')">Family</a></li>

    <li data-value="14"><a (click)="discover('movie', '1', '14')">Fantasy</a></li>

    <li data-value="36"><a (click)="discover('movie', '1', '36')">History</a></li>

    <li data-value="27"><a (click)="discover('movie', '1', '27')">Horror</a></li>

    <li data-value="10402"><a (click)="discover('movie', '1', '10402')">Music</a></li>

    <li data-value="9648"><a (click)="discover('movie', '1', '9648')">Mystery</a></li>

    <li data-value="10749"><a (click)="discover('movie', '1', '10749')">Romance</a></li>

    <li data-value="878"><a (click)="discover('movie', '1', '878')">Science Fiction</a></li>

    <li data-value="10770"><a (click)="discover('movie', '1', '10770')">TV Movie</a></li>

    <li data-value="53"><a (click)="discover('movie', '1', '53')">Thriller</a></li>

    <li data-value="10752"><a (click)="discover('movie', '1', '10752')">War</a></li>

    <li data-value="37"><a (click)="discover('movie', '1', '37')">Western</a></li>

  </ul>
</div>

<main id="main" *ngIf="multiSearchData" style="background-image: linear-gradient(rgb(3,37,65), rgb(3 37 65 / 85%)),url(https://image.tmdb.org/t/p/w1280{{backgroundImage}});">

  <ng-container *ngFor="let movie of multiSearchData.results">
    <div class="movie">
      <a routerLink="/details/{{movie.media_type == null ? 'movie':movie.media_type}}/{{movie.id}}" on-mouseover="onMouseOver(movie)">
        <img src="https://image.tmdb.org/t/p/w1280{{movie.poster_path}}" alt="{{movie.original_title}}"
          *ngIf="movie.poster_path">
        <img *ngIf="!movie.poster_path"
          src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgdmVyc2lvbj0iMS4xIiB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCI+PHBhdGggZD0iTTIxIDE3LjJMNi44IDNIMTlDMjAuMSAzIDIxIDMuOSAyMSA1VjE3LjJNMjAuNyAyMkwxOS43IDIxSDVDMy45IDIxIDMgMjAuMSAzIDE5VjQuM0wyIDMuM0wzLjMgMkwyMiAyMC43TDIwLjcgMjJNMTYuOCAxOEwxMi45IDE0LjFMMTEgMTYuNUw4LjUgMTMuNUw1IDE4SDE2LjhaIiAvPjwvc3ZnPg==">
      </a>

      <div class="movie-info" data-movieid="567189">
        <h4>{{movie.title == null ? movie.original_name: movie.title}}</h4>
        <div class="rating">
          <svg style="width:26px;height:26px;" viewBox="0 0 24 24">
            <path fill="yellow"
              d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z" />
          </svg>
          <span class="vote-average {{getClassNameByRate(movie.vote_average)}}">{{movie.vote_average}}</span>
        </div>
        <div class="overview-trailer-buttons-wrapper">
          <span class="show-overview" #showOverview (click)="showOverview.classList.toggle('active')">Overview</span>
          <span (click)="showTrailer(movie.id, movie.media_type)">Trailer</span>
        </div>
      </div>

      <div class="overview" #overview [class.show]="showOverview.classList.contains('active')">
        <h3>Overview</h3>
        <img class="close-icon" (click)="showOverview.classList.remove('active')"
          src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgdmVyc2lvbj0iMS4xIiB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCI+PHBhdGggZD0iTTEyLDJDMTcuNTMsMiAyMiw2LjQ3IDIyLDEyQzIyLDE3LjUzIDE3LjUzLDIyIDEyLDIyQzYuNDcsMjIgMiwxNy41MyAyLDEyQzIsNi40NyA2LjQ3LDIgMTIsMk0xNS41OSw3TDEyLDEwLjU5TDguNDEsN0w3LDguNDFMMTAuNTksMTJMNywxNS41OUw4LjQxLDE3TDEyLDEzLjQxTDE1LjU5LDE3TDE3LDE1LjU5TDEzLjQxLDEyTDE3LDguNDFMMTUuNTksN1oiIC8+PC9zdmc+">
        {{movie.overview}}
      </div>

    </div>
  </ng-container>
</main>

<!--DISCOVER PAGINATION-->
<ng-container *ngIf="multiSearchData">
  <div *ngIf="!searchQuery" class="pagination-wrapper">
    <ngb-pagination (pageChange)="discover('movie',$event)" *ngIf="multiSearchData.total_pages > 1"
      class="d-flex justify-content-center" [collectionSize]="multiSearchData.total_pages"
      [(page)]="currentPageDiscover" [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true">
    </ngb-pagination>
  </div>
</ng-container>

<!--SEARCH PAGINATION-->
<ng-container *ngIf="multiSearchData">
  <div *ngIf="searchQuery" class="pagination-wrapper">
    <ngb-pagination (pageChange)="multiSearch(searchQuery,$event)" *ngIf="multiSearchData.total_pages > 1"
      class="d-flex justify-content-center" [collectionSize]="multiSearchData.total_pages" [(page)]="currentPageSearch"
      [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true"></ngb-pagination>
  </div>
</ng-container>




<app-trendings></app-trendings>