$primary-color: #082845;
$secondary-color: #051d329e;

.modal {
  position: fixed;
  display: block !important;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: max-content !important;
  border: none !important;
  background-color: transparent !important;

  .close {
    position: absolute;
    top: 40px;
    right: 40px;
    font-size: 40px;
    cursor: pointer;
    z-index: 9;
    transition: all 0.4s;
    color: red;

    &:hover {
      transform: scale(1.1);
    }
  }
}

pre {
  color: white !important;
}

@mixin scrollbar($thumbColor:#88b4da, $trackColor:$secondary-color, $width:5px) {
  &::-webkit-scrollbar {
    width: $width;
  }
  &::-webkit-scrollbar-track {
    background: $trackColor;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background: $thumbColor;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb:hover {
    //background: $onHoverColor;
  }
}


.pagination-wrapper {
  margin-top: 40px;

  ngb-pagination ::ng-deep ul > li:not(.active) > a {
    background-color: #032541;
    color: white;
    border-color: #032541;
  }

  ngb-pagination ::ng-deep ul > li.active > a {
    background-color: #144166;
    border-color: #144166;
    border-radius: 5px;
  }
}


$imgNumber: random(5);
$imgList: "7VrRna8S3x6xbijooeBmxqvHXiu.jpg", "hreiLoPysWG79TsyQgMzFKaOTF5.jpg", "hPea3Qy5Gd6z4kJLUruBbwAH8Rm.jpg", "rCxdJkk5PMCWIzRWcpqIxUaWnf1.jpg", "jTiQAusGG4dVLSb1WHme9I9R4NN.jpg" ;
$nth: nth($imgList, $imgNumber);

.wellcome-wrapper {
  position: relative;
  min-height: 340px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  background-image: linear-gradient(rgb(3 37 65 / 92%), rgb(3 37 65 / 85%)),
    url("https://www.themoviedb.org/t/p/w1920_and_h600_multi_faces_filter(duotone,032541,01b4e4)/"+$nth);
   
  -webkit-transition: background-image 0.2s ease-in-out;
  transition: background-image 0.2s ease-in-out;

  .content-wrapper {
    text-align: center;
    width: 50%;

    .title {
      h2 {
        font-size: 70px;
        font-family: sans-serif;
      }

      h3 {
        font-weight: lighter;
      }
    }
  }

  .search {
    background-color: transparent;
    border: 2px solid #d6dadf2e;
    border-radius: 50px;
    font-family: inherit;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    color: #fff;
    width: 40%;
    transition: all 0.6s;
  
    &:not(:first-of-type) {
      margin-left: 10px;
    }
  
    &::placeholder {
      color: rgba(255, 255, 255, 0.7);
    }
  
    &:focus {
      outline: none;
      background-color: #03213a;
      width: 55%;
    }
  }
}


.scroller {
  height: 285px;
  overflow-y: hidden;
  overflow-x: auto !important;
  display: flex;
  padding: 10px;
  width: 85%;
  margin: 0 auto;
  margin-top: 20px;

  .rating {
    position: absolute;
    top: 0;
    color: white;
    align-items: center;
    display: flex;
  }

  .title {
    font-weight: bold;
    padding-top: 5px;
  }

 @include scrollbar(#0b3558);

  .scroll-item {
    margin-right: 10px;
    border-radius: 8px;
    background: #042038;
    color: white;
    max-width: 140px;
    position: relative;
    transition: all 0.5s;

    &:hover {
      transform: translateY(-3px) scale(1.01);
      z-index: 9;
    }

    p {
      font-size: 14px;
      margin: 0;
      text-align: center;
    }
    img {
      min-width: 138px;
      width: 140px;
      height: 175px;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
    }
  }
}
