.movie-details-wrapper {
  min-height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 25px;

  .main {
    display: flex;
    padding: 0 85px;

    .poster-image {
      width: auto;
      height: 400px;

      img {
        height: 100%;
        border-radius: 8px;
      }
    }

    .movie-info {
      padding: 0 40px;
      color: white;

      .facts {
        display: flex;
        margin-bottom: 40px;

        .certification {
          display: inline-flex;
          white-space: nowrap;
          align-items: center;
          align-content: center;
          padding: 3px;
          border: 1px solid white;
          color: white;
          line-height: 1;
          border-radius: 2px;
          margin-right: 7px;
        }

        .release {
          margin-right: 7px;
        }

        .genres {
          margin-right: 7px;

          &::before {
            content: "\2022";
          }
          &::after {
            content: "\2022";
          }
        }
      }

      .play-trailer {
        display: inline-flex;
        align-items: center;
        &:hover {
          cursor: pointer;
        }

        img {
          height: 40px;
          filter: invert(1);
        }
      }

      .movie-title {
        font-size: 30px;
        color: white;
        text-decoration: none;
        transition: all 0.5s;

        &:hover {
          color: #005296;
        }
      }

      .company {
        display: inline-block;

        img {
          height: 60px;
          margin-right: 20px;
          margin-bottom: 10px;
        }
      }

      .rating-wrapper {
        display: inline-block;
        margin-left: 20px;

        .rating {
          display: flex;
          align-items: center;

          .vote-average {
            font-size: 24px;
          }
          svg {
            fill: yellow;
          }
          .max,
          .vote_count {
            margin-right: 5px;
            font-size: 13px;
            color: #7a7b7f;
            margin-top: 6px;
          }

          .vote_count {
            color: #919295;
          }
        }
      }
    }
  }

  iframe {
    width: 400px;
    height: 225px;
    position: absolute;
    top: 10px;
    right: 10px;
    display: none;
  }

}
