<div class="similar-movies-wrapper" *ngIf="similarMovies">
  <h1 *ngIf="similarMovies.results!=0">Similar</h1>
  <main id="main">
    <div class="movie" *ngFor="let movie of similarMovies.results">
      <a routerLink="/details/{{mediaType}}/{{movie.id}}" target="">
        <img src="https://image.tmdb.org/t/p/w1280{{movie.poster_path}}" alt="{{movie.original_title}}">
      </a>
      <div class="movie-info" data-movieid="567189">
        <h3>{{movie.original_title}}</h3>
        <span class="orange">{{movie.vote_average}} ({{movie.vote_count}})</span>
        <div class="overview-trailer-buttons-wrapper">
          <span class="show-overview" #showOverview (click)="showOverview.classList.toggle('active')">Overview</span>
          <span (click)="showTrailer(movie.id)">Trailer</span>
        </div>
      </div>
      <div class="overview" #overview (click)="showOverview.classList.remove('active')"
        [class.show]="showOverview.classList.contains('active')">
        <h3>Overview</h3>
        {{movie.overview}}
      </div>
    </div>
  </main>
</div>