<!-- ======= Mobile nav toggle button ======= -->
<button type="button" class="mobile-nav-toggle" (click)="toggleSidebar()">
  <svg style="width:24px;height:24px" viewBox="0 0 24 24">
  <path fill="currentColor" d="M3,6H21V8H3V6M3,11H21V13H3V11M3,16H21V18H3V16Z" />
</svg>
</button>

<header id="header" [class.hide]="Toggle" >
  <div class="d-flex flex-column">

    <div class="profile">
      <!--<img src="https://picsum.photos/120" alt="" class="img-fluid rounded-circle">-->
      <h1 class="text-light"><a href="index.html">Movies app</a></h1>
    </div>

    <nav class="nav-menu">
      <div class="filter">
        <p style="color: white;">Filters</p>
        <ul ngbNav #nav="ngbNav" class="nav-tabs">
          <li ngbNavItem>
            <a ngbNavLink>Movies</a>
            <ng-template ngbNavContent>
              <div class="sort-wrapper">
              <p class="title"> Sort Results By</p>
              <select class="sort" placeholder="String" (change)="onSortingChange($event.target.value)">
                <option value="popularity.asc">popularity.asc</option>
                <option value="popularity.desc" selected>popularity.desc</option>
                <option value="release_date.asc">release_date.asc</option>
                <option value="release_date.desc">release_date.desc</option>
                <option value="revenue.asc">revenue.asc</option>
                <option value="revenue.desc">revenue.desc</option>
                <option value="primary_release_date.asc">primary_release_date.asc</option>
                <option value="primary_release_date.desc">primary_release_date.desc</option>
                <option value="original_title.asc">original_title.asc</option>
                <option value="original_title.desc">original_title.desc</option>
                <option value="vote_average.asc">vote_average.asc</option>
                <option value="vote_average.desc">vote_average.desc</option>
                <option value="vote_count.asc">vote_count.asc</option>
                <option value="vote_count.desc">vote_count.desc</option>
              </select>
            </div>
              <ul class="genres" style="color: white">
                <p>Genres</p>
                <li *ngFor="let filter of movieFilters" (click)="discover('movie', filter.id)" #genre [class.show]="genre.classList.contains('active')" (click)="genre.classList.toggle('active')">
                  {{filter.name}}</li>
              </ul>
      
              <input #searchBoxMovie (input)="getMovieKeywords(searchBoxMovie.value)" class="search" placeholder="Filter by keywords.." />
      
              <ul class="keywords" *ngIf="movieKeywords" style="color: royalblue">
                <li *ngFor="let keyword of movieKeywords.results" (click)="discover('movie',currentPageDiscover,sortBy,'',keyword.id)">
                  {{keyword.name}}</li>
              </ul>
      
            </ng-template>
          </li>
          <li ngbNavItem>
            <a ngbNavLink>TV</a>
            <ng-template ngbNavContent>
              <div class="sort-wrapper">
              <p class="title"> Sort Results By</p>
              <select class="sort" placeholder="String" (change)="onSortingChange($event.target.value)">
                <option value="popularity.asc">popularity.asc</option>
                <option value="popularity.desc" selected>popularity.desc</option>
                <option value="release_date.asc">release_date.asc</option>
                <option value="release_date.desc">release_date.desc</option>
                <option value="revenue.asc">revenue.asc</option>
                <option value="revenue.desc">revenue.desc</option>
                <option value="primary_release_date.asc">primary_release_date.asc</option>
                <option value="primary_release_date.desc">primary_release_date.desc</option>
                <option value="original_title.asc">original_title.asc</option>
                <option value="original_title.desc">original_title.desc</option>
                <option value="vote_average.asc">vote_average.asc</option>
                <option value="vote_average.desc">vote_average.desc</option>
                <option value="vote_count.asc">vote_count.asc</option>
                <option value="vote_count.desc">vote_count.desc</option>
              </select>
              </div>
              <ul class="genres" style="color: white">
                <p>Genres</p>
                <li *ngFor="let filter of tvFilters" (click)="discover('tv', '1', 'popularity.desc',filter.id)">
                  {{filter.name}}</li>
              </ul>
      
              <input #searchBoxTV (input)="getTVKeywords(searchBoxTV.value)" class="search" placeholder="Filter by keywords.." />
      
              <ul class="keywords" *ngIf="tvKeywords" style="color: red">
                <li *ngFor="let keyword of tvKeywords.results" (click)="discover('tv',currentPageDiscover,sortBy,'',keyword.id)">
                  {{keyword.name}}</li>
              </ul>
      
            </ng-template>
          </li>
         
        </ul>
        <div [ngbNavOutlet]="nav"></div>
      
      
      </div>
    </nav><!-- .nav-menu -->
    <button type="button" class="mobile-nav-toggle d-xl-none"><i class="icofont-navigation-menu"></i></button>

  </div>
</header>